project.notes

#frontend

# dependencies
react-app/node_modules
react-app/.pnp
react-app/.pnp.js

# testing
react-app/coverage

# production
react-app/build
react-app/Dockerfile

# misc
react-app/.DS_Store
react-app/.env.local
react-app/.env.development.local
react-app/.env.test.local
react-app/.env.production.local

react-app/npm-debug.log*
react-app/yarn-debug.log*
react-app/yarn-error.log*

#backend

backend/.env
backend/node_modules